* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
}

body {
    height: 100vh;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 375px;
    background: #f4f4f4;
}

header{
    background-color: #000000;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 24px;
    color: #F4F4F4;
}

main {
    padding: 24px;
}

label {
    font-size: 14px;
    color: #777777;
}

select {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    height: 48px;
    width: 100%;
    padding-left: 16px;
    display: block;
    cursor: pointer;
    outline: none;
    appearance: none;
    margin-top: 6px;
    margin-bottom: 23px;
    font-weight: 400;
}

select:hover {
    background-color: #F5F9FD;
}

input {
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 11px;
    width: 100%;
    display: block;
    cursor: pointer;
    margin-bottom: 24px;
    outline: none;
    font-size: 18px;
}

input:hover {
    background-color: #F5F9FD;
}


input:focus {
    background-color: #F5F9FD;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

button {
    background-color: #000000;
    border-radius: 25px;
    height: 48px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #F4F4F4;
    border: none;
    margin-bottom: 36px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #000000;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.currency-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.currency-name {
    font-size: 14px;
    color: #777777;
    margin: 4px 0px 2px 0px;
}

.currency-value {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}